
.cartMenu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.cartMenu::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.cartMenu::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dedede;
}


.cartMenu {
    filter: drop-shadow(-17px 33px 57px rgba(0, 0, 0, 0.25));
    overflow: auto;
    position: absolute;
    right: -120px;
    background: $bg-color;
    z-index: 99 !important;
    top: 70px;
    width: 320px;
    height: 80vh;
    text-align: center;
    border-radius: 22px;
    padding: 10px;
    padding-top: 12px;
    margin: auto;

    &__profile {
        width: 80px;
        height: 80px;

        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: auto;
    }

    h1 {
        font-size: 22px;
        font-weight: 600;
        padding: 10px;
    }

    ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        :hover {
            background: #eeee;
        }
    }

    li {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 44px;
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1.5px solid #dedede70;
    }
}

.favMenu {
    filter: drop-shadow(-17px 33px 57px rgba(0, 0, 0, 0.25));
    overflow: auto;
    position: absolute;
    right: -120px;
    background: $bg-color;
    z-index: 99 !important;
    top: 70px;
    width: 320px;
    height: 80vh;
    text-align: center;
    border-radius: 22px;
    padding: 10px;
    padding-top: 12px;
    margin: auto;

    &__profile {
        width: 80px;
        height: 80px;

        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin: auto;
    }

    h1 {
        font-size: 22px;
        font-weight: 600;
        padding: 10px;
    }

    ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        :hover {
            background: #eeee;
        }
    }

    li {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 44px;
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1.5px solid #dedede70;
    }
}
.checkBox{
    border: 2px solid #2d2d2d;
}
.none{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

.imgContainer {
    position: relative;

    img {
        width: 60px;
        height: 60px;
        background-size: contain;
        align-items: center;
        margin-top: 4px;
    }


}

.grid {
    background-color: #ffff;
    border-radius: 12px;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 6px;
}

.trashIcon {
    position: absolute;
    text-align: end;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

}

.price {
    text-align: right;
}

@media (max-width:900px) {

    .cartMenu {
        margin: auto;
    }
    .favMenu{
        margin: auto;
    }
}
@media (max-width:420px) {

    .cartMenu {
        right: -79px;
    }
    .favMenu{
        right: -79px;
    }
}