// Variables
//--------------------------------//
$ANIMATION_DURATION: 5s infinite;
$CUBIC_BEZIER: cubic-bezier(0.215, 0.610, 0.355, 0.215);

.hero {
    padding: 10px;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    align-self: center;
    text-align: left;

    &__headerText {
        width: 100%;
        font-style: none;
        font-weight: 400;
        font-size: 40px;
        text-align: left;
    }

    &__container {
        width: 80%;
        place-self: center;
        display: grid;
        grid-template-columns: 0.5fr 0.4fr;
        text-align: center;
        gap: 50px;
        justify-content: space-evenly;
        text-align: center;
        justify-items: center;
        align-items: center;
        align-content: stretch;
        place-items: center;
        place-content: center;
    }

    &__slogan {
        line-height: 105.25%;
        letter-spacing: 0.04rem;
        font-size: 62px;
        font-weight: 300;
    }

    &__boldOne {
        font-weight: 600;
        text-shadow: 0px -40px 0px rgba(87, 87, 87, 0.103), 0px -23px 0px rgba(45, 45, 45, 0.5);
    }

    &__boldTwo {
        font-weight: 600;
    }

    &__textDescription {
        width: 90%;
        text-align: center;
        padding: 4px;
        margin: auto;

    }

    &__desc {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }

    &__svg {
        position: relative;
        width: auto;
        height: auto;
    }

    &__halfCircle {
        position: absolute;
        display: block;
        margin: auto 0;
        top: 329px;
        left: 0;
        overflow: hidden;
    }

}

.greenButton {
    margin-top: 20px;
    width: 160px;
    height: 48px;
    border-radius: $--rounded-btn;
    color: #fff;
    background: $primary;

    :hover {
        background-color: aquamarine;
    }
}

// content styles

.content {
    padding: 10px;
    width: 100%;
    max-height: max-content;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    align-self: center;
    text-align: left;
    position: relative;
    margin-top: 60px;

    &__container {
        width: 80%;
        place-self: center;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        text-align: center;
        gap: 50px;
        justify-content: space-evenly;
        text-align: center;
        justify-items: center;
        align-items: center;
        align-content: stretch;
        place-items: center;
        place-content: center;
    }

    h1 {
        font-weight: 600;
        font-size: 80px;
        text-shadow: 10px -8px 0px rgba(45, 45, 45, 0.208);
    }

    &__absolute {
        position: absolute;
        right: 80px;
        top: -60px;
        margin: 0 auto;
        font-size: 140px;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgba(60, 60, 60, 0.556);
        display: block;
        fill: none;
        overflow: hidden;
    }

    &__circle {
        position: absolute;
        right: 0;
        margin: 0 auto;
        z-index: -1;
    }
}



// Bounce In Down
//--------------------------------//
@-webkit-keyframes bounceInDown {
    0% {
        -webkit-transform: translate3d(0, -10%, 0);
    }

    60% {
        -webkit-transform: translate3d(0, 3%, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -2%, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -6%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -10%, 0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        -webkit-transform: translate3d(0, -10%, 0);
    }

    60% {
        -webkit-transform: translate3d(0, 3%, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -2%, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -6%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, -10%, 0);
    }
}

@-o-keyframes bounceInDown {
    0% {
        -o-transform: translate3d(0, -10%, 0);
    }

    60% {
        -o-transform: translate3d(0, 3%, 0);
    }

    75% {
        -o-transform: translate3d(0, -2%, 0);
    }

    90% {
        -o-transform: translate3d(0, -6%, 0);
    }

    100% {
        -o-transform: translate3d(0, -10%, 0);
    }
}

@keyframes bounceInDown {
    0% {
        transform: translate3d(0, -10%, 0);
    }

    60% {
        transform: translate3d(0, 3%, 0);
    }

    75% {
        transform: translate3d(0, -2%, 0);
    }

    90% {
        transform: translate3d(0, -6%, 0);
    }

    100% {
        transform: translate3d(0, -10%, 0);
    }
}

.u__bounceInDown {
    -webkit-animation: bounceInDown $ANIMATION_DURATION $CUBIC_BEZIER;
    -moz-animation: bounceInDown $ANIMATION_DURATION $CUBIC_BEZIER;
    -o-animation: bounceInDown $ANIMATION_DURATION $CUBIC_BEZIER;
    animation: bounceInDown $ANIMATION_DURATION $CUBIC_BEZIER;
}

// Responsive
@media (max-width:900px) {
    .hero {
        height: 120vh;
    }
}

@media (max-width:756px) {
    .hero {
        height: 120vh;

        &__container {
            margin-top: 161px;
            grid-template-columns: repeat(1, 1fr);
        }

        &__slogan {
            font-size: 40px;
        }

        &__imgContent {
            width: 190px;
            height: 190px;
        }

        &__container:nth-of-type(2) {
            order: 1;
        }

        &__container:nth-of-type(1) {
            order: 2;
        }
    }

    .content {


        &__container {
            margin-top: 40px;
            grid-template-columns: repeat(1, 1fr);
        }

        &__absolute {
            top: 360px;
            font-size: 80px;
            position: absolute;
            right: 0px;
        }

        h1 {
            font-weight: 600;
            font-size: 60px;
        }
    }
}