.hero {
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    align-self: center;
    text-align: left;

    &__headerText {
        width: 100%;
        font-style: none;
        font-weight: 400;
        font-size: 40px;
        text-align: left;
    }

    &__container {
        width: 80%;
        place-self: center;
        display: grid;
        grid-template-columns: 0.5fr 0.4fr;
        text-align: center;
        gap: 50px;
        justify-content: space-evenly;
        text-align: center;
        justify-items: center;
        align-items: center;
        align-content: stretch;
        place-items: center;
        place-content: center;
    }

    &__slogan {
        line-height: 105.25%;
        letter-spacing: 0.04rem;
        font-size: 62px;
        font-weight: 300;
    }

    &__boldOne {
        font-weight: 600;
        text-shadow: 0px -40px 0px rgba(0, 0, 0, 0.1), 0px -23px 0px rgba(45, 45, 45, 0.5);
    }

    &__boldTwo {
        font-weight: 600;
    }

    &__textDescription {
        width: 90%;
        text-align: center;
        padding: 4px;
        margin: auto;

    }

    &__desc {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }

    &__svg {
        position: relative;
        width: auto;
        height: auto;
    }

    &__halfCircle {
        position: absolute;
        display: block;
        margin: auto 0;
        top: 329px;
        left: 0;
        overflow: hidden;
    }

}

.greenButton {
    margin-top: 20px;
    width: 160px;
    height: 48px;
    border-radius: 20px;
    color: #fff;
    background: rgb(80, 235, 178);
    background: linear-gradient(125deg, rgba(80, 235, 178, 1) 23%, rgba(66, 80, 231, 1) 100%);
}


// content styles

.content {
    padding: 10px;
    width: 100%;
    max-height: max-content;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    align-self: center;
    text-align: left;
    position: relative;

    &__container {
        width: 80%;
        place-self: center;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        text-align: center;
        gap: 50px;
        justify-content: space-evenly;
        text-align: center;
        justify-items: center;
        align-items: center;
        align-content: stretch;
        place-items: center;
        place-content: center;
    }

    h1 {
        font-weight: 600;
        font-size: 80px;
        text-shadow: 10px -8px 0px rgba(45, 45, 45, 0.5);
    }

    &__absolute {
        position: absolute;
        right: 80px;
        top: -60px;
        margin: 0 auto;
        font-size: 140px;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        display: block;
        fill: none;
        overflow: hidden;
    }

    &__circle {
        position: absolute;
        right: 0;
        margin: 0 auto;
    }
}


// product card
.product {
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    max-height: max-content;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    align-self: center;
    text-align: left;
    position: relative;

    &__heading{
        font-weight: 600;
        font-size: 80px;
        text-shadow: 10px -8px 0px rgba(45, 45, 45, 0.5);
        line-height: 105.25%;
        letter-spacing: 0.04rem;
    }
    &__absolute {
        position: absolute;
        left: 80px;
        top: -60px;
        margin: 0 auto;
        font-size: 140px;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        display: block;
        fill: none;
        overflow: hidden;
    }

    &__mainContainer {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 50px;
        background: rgba(255, 255, 255, 0.345);
        mix-blend-mode: normal;
        box-shadow: -9px 4px 100px 15px rgba(0, 0, 0, 0.118);
        padding: 20px;
        border-radius: 58px;
    }

    &__card {
        width: 300px;
        height: 420px;
        padding: 6px;
        border-radius: 20px;
        background-color: #ffff;
        box-shadow: -9px 4px 100px 15px rgba(0, 0, 0, 0.118);
    }
    &__card__heading{
        font-size: 22px;
        font-weight: 600;
    }
    &__display{
        text-align: center;
        margin: auto;
    }
    &__product__content{
        text-align: center;
    }
    &__content__display{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }&__content__title{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 12px;
    }&__content__param{
        text-align: center;
        width: 80%;
        align-items: center;
        margin: auto;
    }
    &__content__button{
        margin: auto;
        text-align: center;
        align-items: center;
    }&__content__img{
        width: 100px;
        height: 100px;
        background-color: red;
        margin-top: 40px;
        text-align: center;
        justify-content: center;
        background-color: #ffff;
        box-shadow: -9px 4px 100px 15px rgba(0, 0, 0, 0.118);
        border-radius: 22px;
    }&__content__product{
        background-size: contain;
        padding: 10px;
        -ms-flex-item-align: center;

    }
}

    // Responsive


    @media (max-width:756px) {
        .hero {
            &__container {
                grid-template-columns: repeat(1, 1fr);
            }

            &__container:nth-of-type(2) {
                order: 1;
            }

            &__container:nth-of-type(1) {
                order: 2;
            }
        }

        .content {
            margin-top: 40px;

            &__container {
                grid-template-columns: repeat(1, 1fr);
            }

            &__absolute {
                top: 360px;
                font-size: 80px;
                position: absolute;
                right: 0px;
            }

            h1 {
                font-weight: 600;
                font-size: 60px;
                text-shadow: 10px -8px 0px rgba(45, 45, 45, 0.5);
            }
        }

        .product {
            &__mainContainer {
                grid-template-columns: repeat(1, 1fr);
            }
            &__absolute {
                top: 0;
                font-size: 80px;
                position: absolute;
                left: 0px;
            }
        }
    }