.likedIcon {
    color: #e7739e;
}

.listBox {
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

.listBoxParent{
    font-family: 'Poppins', sans-serif;
}
.headingList{
    font-family: 'Poppins', sans-serif;
}
.Dialog{
    font-family: 'Poppins', sans-serif;
}