
$bg-color : #F5F6F8;

// theme
$primary : #65c3c8;
$primary-focus : #42b2b8;
$primary-content : #ffffff;

$secondary : #ef9fbc;
$secondary-focus : #e7739e;
$secondary-content : #ffffff;

$accent : #eeaf3a;
$accent-focus : #e09915;
$accent-content : #ffffff;

$neutral : #261230;
$neutral-focus : #200f29;
$neutral-content : #ffffff;

$base-100 : #DFF4F7;
$base-200 : #E2F8FC;
$base-300 : #E3FAFC;
$base-content : #261230;

$info : #1c92f2;
$success : #009485;
$warning : #ff9900;
$error : #ff5724;

$--rounded-box: 1rem;        
$--rounded-btn: 1.9rem ;    
$--rounded-badge: 1.9rem;  

$--animation-btn: 0.25s;    
$--animation-input: 0.2s;    
$--btn-text-case: uppercase;
$--navbar-padding :0.5rem;
$--border-btn: 1px;
