.user {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    position: relative;
    gap: 20px;
    font-family: 'Poppins', sans-serif;

    &__back{
        width: 42px;
        height: 42px;
        border: 1px solid #dedede;
        background-color: #fff;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 20px;

    }
    &__menu {
        padding: 21px;
        width: 280px;
        overflow: hidden;
        height: 100vh;
        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    // head user avatar

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 16px;

    }

    &__name {
        font-size: 20px;
        font-weight: 600;
    }

    &__member {
        font-weight: 200;
        color: #0d0d0d;
        font-size: 12px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #dedede;
        object-fit: cover;
    }

    // ============================ end

    ul {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            margin-left: 30px;
            line-height: 40px;
            color: $grey--100;
            padding: 4px;
            border-radius: 20px;
            width: 80%;

            &:hover {
                background-color: #fff;
                color: #2d2d2d;
            }

            &:focus {
                background-color: #0d0d0d;
            }
        }
    }
}


@media (max-width:650px) {
    .user{
        grid-template-columns: repeat(1, 1fr);
        &__menu{
            width: 100%;
            height:auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        ul {
            width: 80%;
            flex-direction: row;
            justify-content: center;
            li {
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin: 0;
                gap: 10px;
                font-size: 12px;
            }
        }
    }
}